{% extends 'polls/base.html' %}
{% block Title %}User Profile{% endblock %}
{% block Body %}
    <strong>User Name:</strong>{{ profile.user.username }}
    <br>
    <strong>User Email:</strong>{{ profile.user.email }}
    <br>
    <!-- statistics -->
    <strong>Links created:</strong>{{ profile.user.Bio }}
    <br>
    <strong>Groups: </strong>{{ groupstring }}
    <br>
    {{ group }}
    {% if groupstring == "user" %}
    <a class="btn btn-warning" href="authentication/customer" role="button">Upgrade to our Customer</a>
    {% endif %}
{% endblock %}