{%  extends 'authentication/base.html' %}
{% block Title %}Registration{% endblock %}
{% block Body %}
    <form method="post" action="">
        <fieldset>
            <legend>Register</legend>
            {% csrf_token %}
            {% if form.errors %}
                <p style="color: orangered">Got errors! {{ form.errors }}</p>
            {% endif %}
            {% for message in messages %}
                <p style="color: turquoise">{{ message }}</p>
            {% endfor %}
            <p>{{ form.username.label }} {{ form.username }} </p>
            <p>{{ form.email.label }} {{ form.email }} </p>
            <p>{{ form.password1.label }} {{ form.password1 }}</p>
            <p>{{ form.password2.label }} {{ form.password2 }}</p>
            <input type="submit" class="btn btn-warning" value="Register">
        </fieldset>
    </form>
{% endblock %}